/* Style */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Inline|Londrina+Outline');
body{
	background-image: url(gere.png);
	background-position: top;
	background-repeat: no-repeat;
	text-align: center;
	background-attachment: fixed;
}

.texto{
	margin:80px;
	font-family: 'Londrina Outline', cursive;

}

.texto2{
	font-family: 'Roboto';
}